* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background: #fafafa;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
		sans-serif;
	font-size: 1.6rem;
	line-height: 1.2;
}

button {
	font-size: 100%;
	line-height: inherit;
}

a11y-dialog:not(:defined) {
	display: none;
}

a11y-dialog:not([open]) {
	visibility: hidden;
	opacity: 0;
}

a11y-dialog::part(content) {
	background-color: rgb(255, 255, 255);
	border-radius: 2px;
	top: 50%;
	left: 50%;
	margin: 0;
	max-width: 90%;
	padding: 1.6em;
	position: fixed;
	transform: translate(-50%, -50%);
	width: 600px;
	z-index: 2;
}
a11y-dialog::part(overlay) {
	background-color: rgba(43, 46, 56, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
